%tr.row
  %td.span6= drama.description
  %td.span3= drama.email
  %td.votes= "#{drama.votes.count} votes"
  %td
    - if drama.can_vote?(current_user)
      = link_to 'Upvote', submission_votes_path(drama), method: :post
